:root {
  --primary: #ffe600;
  --main-font: "Roboto", sans-serif;
  --main-font-color: #4f4f4f;
  --topnav-bg-color: #e3e3e3;
  --topnav-font-color: #383838;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0 px;
  padding: 10px;
  background-color: #ddd;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  height: 100%;
}

.clickable {
  cursor: pointer;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 5%;
  width: 100%;
  margin: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-container {
  padding: 2px 16px;
}

.card-img {
  position: relative;
  height: 0;
  width: 100%;
  overflow: hidden;
  padding-top: 75.09%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #f5f5f5;
}

.container {
  width: 65%;
  margin: auto;
  min-height: 100%;
  margin-bottom: -50px;
}

.flex-container {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container .fluid {
  width: 95%;
  margin: auto;
}

#app {
  font-family: var(--main-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: var(--main-font-color);
  min-height: 100%;
  margin-bottom: -50px;
}

.topnav {
  overflow: hidden;
  background-color: var(--topnav-bg-color);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3);
}

.topnav a {
  float: left;
  color: var(--topnav-font-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.right {
  float: right;
}

.topnav a:hover {
  background-color: var(--primary);
}

.topnav a.active {
  background-color: var(--primary);
}

form {
  width: 45%;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow: auto;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: var(--primary);
  color: grey;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: rgb(230, 230, 230);
}

.row {
  flex-direction: row;
  margin: auto;
}

ul {
  list-style-type: none;
}
ul li {
  position: relative;
  overflow: hidden;
  padding: 20px;
  margin-left: 0px;
  width: 250px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
ul li:hover {
  background-color: #f5f5f5;
}
.wrap {
  flex-wrap: wrap;
}
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}

ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
.toolbar {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  justify-content: center;
  margin-bottom: 10%;
  margin-top: 10%;
}

button {
  background-color: var(--primary);
  border: none;
  width: 10;
  color: var(--topnav-font-color);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

button:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.icon-btn:hover {
  color: #0184f6;
  cursor: pointer;
  
}

.icon-btn-bg {
  background-color: var(--primary);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
  0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  padding: 5px;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 25%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* The container */
.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
  background-color: var(--primary);
}

img {
  display: block;
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  margin: auto;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid grey;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

nav label {
  float: left;
  padding: 15px 15px;
  border-top: 1px solid silver;
  border-right: 1px solid silver;
  background: var(--primary);
  color: #grey;
}

nav label:nth-child(1) {
  border-left: 1px solid silver;
}

nav label:hover {
  background: #e6e6e6;
}

nav label:active {
  background: #ffffff;
}

#tab1:checked ~ figure .tab1,
#tab2:checked ~ figure .tab2,
#tab3:checked ~ figure .tab3 {
  display: block;
}

#tab1:checked ~ nav label[for="tab1"],
#tab2:checked ~ nav label[for="tab2"],
#tab3:checked ~ nav label[for="tab3"] {
  background: white;
  color: #111;
  position: relative;
  border-bottom: none;
}

#tab1:checked ~ nav label[for="tab1"]:after,
#tab2:checked ~ nav label[for="tab2"]:after,
#tab3:checked ~ nav label[for="tab3"]:after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: white;
  left: 0;
  bottom: -1px;
}

/* Tabs mit radio-Buttons */
.tabbed figure {
  display: block;
  margin-left: 0;
  border-bottom: 1px solid silver;
  clear: both;
}

.tabbed > input,
.tabbed figure > div {
  display: none;
}

.tabbed figure > div {
  padding: 20px;
  width: 100%;
  border: 1px solid silver;
  background: #fff;
  line-height: 1.5em;
  letter-spacing: 0.3px;
  color: #444;
}
.center {
  margin: auto;
  width: 50%;
}

.list-group {
  text-align: center;
}
.list-group .list-group-item {
  position: relative;
  overflow: hidden;
  padding: 20px;
  margin-left: 0px;
  width: 250px;
  border: 1px solid #ddd;
}

